.moodboard {
    margin-left: 50px;
    min-width: 1200px;
}

.moodboard-top {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 50px;
}

.moodboard-top__options {
    display: flex;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    color: rgb(87, 87, 87);
    font-size: 13px;
}

.option {
    background: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    color: rgb(87, 87, 87);
    padding: 10px 20px;
    border-bottom: 1px solid rgb(194, 194, 194);
    z-index: 100;
}

.option:hover {
    font-weight: bold;
    color: black;
    border-bottom: 2px solid gray;
    cursor: pointer;
}

.moodboard-top__content {
    height: 100px;
    display: flex;
    align-items: center;
    width: 800px;
    overflow-x: scroll;
}

.top__photos {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.top__item {
    height: 80px;
    width: fit-content;
    overflow: hidden;
    border: 1px solid rgb(229, 229, 229);
}

.top__item:hover {
    border: 1px solid gray;
    /* box-shadow: 0 0 6px gray; */
}

.top__img {
    height: 100%;
}

.content__add {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    background-color: rgb(247, 245, 245);
}

.add-btn {
    font-size: 20px;
    padding: 0px 7px;
    border: 1px solid rgb(75, 75, 75);
    background-color: white;
    z-index: 1000;
}

.add-btn:hover {
    background-color: rgb(75, 75, 75);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.moodboard-body {
    display: flex;
    margin-top: 50px;
}

.canvas {
    position: relative;
    width: 802px;
    border: 1px solid gray;
    height: 1200px;
}

canvas {
    width: inherit;
}

.stage {
    width: 800px;
}

.toolbelt {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    z-index: 100;
}

.ql-container {
    background:white;
  }

  /* Snow Theme */
  .ql-snow.ql-toolbar {
    display: block;
    background: #ffffff;
  }

  .ql-editor {
    min-height: 18em;
  }


.tool {
    height: 40px;
    width: 40px;
    border: 1px solid gray;
}

.tool:hover {
    background-color: gainsboro;
}

.tool-btn {
    margin-top: 30px;
}

.text {
    border: 1px solid gray;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 232, 232);
}

.text_t {
    border: 1px solid gray;
    background-color: rgb(255, 253, 253);
    padding: 2px 6px;
    color: rgb(78, 78, 78);
}

.text_t:hover {
    background-color: rgb(87, 86, 86);
    color: white;
    border: none;
}


/* FOLDER DIALOG */

.folder__con {
    height: 100px;
    width: 100px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.folder__title {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
    background-color: rgba(255, 255, 255, 0.671);
    padding: 10px;
    position: absolute;
}

.folder__description {
    position: absolute;
    opacity: 0;
    color: rgb(84, 83, 83);
    background-color: rgb(238, 238, 238);
    height: 100%;
    width: 100%;
    border: 1px solid rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 17px;
    font-size: 12px;
    padding: 5px;
}

.folder__description:hover {
    opacity: 100;
    z-index: 1000;
}

.folder__description:hover + .hide {
    display: block;
}


.images-dialog__header {
    font-size: 20px;
    text-transform: uppercase;
    color: gray;
    padding-bottom: 20px;
}

.added__images {
    display: flex;
    gap: 20px;
    overflow: scroll;
    height: 150px;
    border-bottom: 1px solid gray;
    width: 90%;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.folders__con {
    padding-bottom: 30px;
    display: flex;
    gap: 20px;
    overflow: scroll;
}

.folder__con.add {
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-folder__btn {
    border: 1px solid gray;
    padding: 5px 10px;
}

.photo__con {
    height: 100px;
}

.folder-photo {
    height: 100%;
}

.photo-selected {
    opacity: 50%;
}

.star {
    position: absolute;
    padding: 10px;
    font-size: 30px;
}

.hidden {
    display: none;
}
.photos__con {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    padding-top: 20px;
    width: 90%;
    margin: auto;
}

.photos__con.select {
    border-top: 1px solid gray;
}
