.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 30px;
    gap: 7px;
    z-index: 1000;
}

.page-header {
  display: flex;
  justify-content: space-between;
  background:none;
  z-index: 500;
}

.page {
  padding: 50px;
}

.nav-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-link {
    text-transform: uppercase;
    background: none;
    border: none;
    color: rgb(90, 90, 90);
}

.nav-link:hover {
    color: black;
}

.page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.479);
  z-index: 200;
  width: 100%;
  height: 100%;

}

.dialog-content {
    margin: auto;
    margin-top: 70px;
    box-shadow: 0px 0px 6px lightgrey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    background-color: white;
    overflow: scroll;
    padding: 50px;
}

.home-link {
    font-size: 30px;
    font-weight: bold;
}

.logout-link {
    font-size: 20px;
}

.section__title {
  color: gray;
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(216, 214, 214);
  width: 200px;
  letter-spacing: 3px;
}

/* CANVAS */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Roboto, Lato, Helvetica, Arial, sans-serif;
    color: #030303;
  }

  html,
  body,
  #root,
  .app {
    min-height: 100vh;
    width: 100%;
  }

  .app {
    display: flex;
    overflow: hidden;
  }

  aside {
    width: 250px;
  }

  .palette {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .shape {
    margin: 10px;
    width: 80px;
    height: 80px;
    border: solid 2px black;
  }

  .circle {
    border-radius: 50%;
  }

  .panel {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .properties {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 10px;
  }

  .board__tools {
    display: flex;
    flex-direction: column;
  }

  .key {
    color: lightslategray;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-transform: lowercase;
    font-weight: 200;
    letter-spacing: 2px;
  }

  .key.type {
    align-self: flex-start;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .value {
    height: 30px;
    width: 30px;
    color: darkslategray;
    font-weight: bolder;
  }

  .photo {
    height: 200px;
  }

  .no-data {
    color: rgb(142, 141, 141);
    font-weight: 200;
    text-transform: lowercase;
  }
/*
  .canvas {
    width: calc(100% - 200px);
    border: solid 1px lightgray;
    border-top: none;
    border-bottom: none;
    position: relative;
  } */

  .canvas__btns {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }

  .canvas__btn {
    margin: 4px;
    height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    background: rgb(249, 249, 249);
    z-index: 10;
    padding: 0 8px;
    border: 1px solid gray;
  }

  .canvas__btn:hover {
    background: rgb(87, 87, 87);
    color: white;
  }
